<form
  [formGroup]="vetFormGroup"
  #ngForm="ngForm"
  (ngSubmit)="onSubmit()"
  *ngIf="vetFormGroup"
>
  <mat-form-field appearance="fill">
    <mat-label>Prénom</mat-label>
    <input matInput formControlName="firstName" required />
    <mat-error
      *ngIf="(vetFormGroup.get('firstName').dirty || ngForm.submitted) && vetFormGroup.get('firstName').errors?.['required']"
    >
      Champ obligatoire
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="lastName" required />
    <mat-error
      *ngIf="(vetFormGroup.get('lastName').dirty || ngForm.submitted) && vetFormGroup.get('lastName').errors?.['required']"
    >
      Champ obligatoire
    </mat-error>
  </mat-form-field>

  <button mat-button color="primary" type="submit">Envoyer</button>
</form>
