<form
  [formGroup]="vetFormGroup"
  #ngForm="ngForm"
  (ngSubmit)="onSubmit()"
  *ngIf="vetFormGroup"
>
  <label for="firstName">Prénom</label>
  <input id="firstName" formControlName="firstName" />
  <p
    *ngIf="ngForm.submitted && vetFormGroup.get('firstName').errors?.['required']"
  >
    Champ obligatoire
  </p>
  <br />

  <label for="lastName">Nom</label>
  <input id="lastName" formControlName="lastName" />
  <p
    *ngIf="ngForm.submitted && vetFormGroup.get('lastName').errors?.['required']"
  >
    Champ obligatoire
  </p>
  <br />

  <button type="submit">Envoyer</button>
</form>
